* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F6EFE7;
    color: #333;
    position: relative;
}

/* Background */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("https://static.vecteezy.com/system/resources/previews/031/726/951/non_2x/dog-seamless-pattern-with-paws-bones-hearts-puppy-paws-poster-print-post-card-table-cloth-cloth-shirt-curtain-flannel-foot-towel-illustration-cartoon-kawaii-cute-style-vector.jpg") center/cover no-repeat;
    opacity: 0.12;
    z-index: -1;
}

/* Navbar */
.navbar {
    background-color: #C98A5B !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;
}

.navbar .nav-link:hover {
    background-color: rgba(255,255,255,0.25);
    border-radius: 20px;
}

/* Hero */
.hero-section {
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #4a2c2a;
    margin-bottom: 12px;
}

h2 {
    margin-bottom: 20px;
    color: #4a2c2a;
}

p {
    color: #555;
    line-height: 1.7;
}

footer p {
    color: white;
}

/* Cards */
.card {
    border-radius: 0px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
    border: none;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 26px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    border-radius: 14px;
}


.card-title {
    color: #6b3e2e;
}

/* Buttons */
.btn-dark {
    background-color: #C98A5B;
    border: none;
    border-radius: 20px;
}

.btn-dark:hover {
    opacity: 0.9;
    background-color: #C98A5B;
}

/* Info Sections */
.info-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* Footer */
footer {
    background-color: #875e3e;
    color: white;
}


/* Responsive*/
/* Tablet */
@media (min-width: 481px) and (max-width: 760px) {
    body h1 { font-size: 28px; }
    body h2 { font-size: 22px; }
    body p, body .form-control, body .form-select, body .btn-dark, body .btn-adopt, body .btn-primary { font-size: 14px; }
    body .card-img-top { height: 180px; }
    body .col-md-3, body .col-md-4 { width: 50%; }
    body .info-box { padding: 20px; }
    body footer { font-size: 13px; }
}

/* Mobile */
@media (max-width: 480px) {
    body h1 { font-size: 24px; }
    body h2 { font-size: 18px; }
    body p, body .form-control, body .form-select { font-size: 13px; }
    body .navbar-nav { flex-direction: column; align-items: flex-start; }
    body .dropdown-menu, body .col-md-3, body .col-md-4, body .col-md-6, body .col-md-8,
    body .col-lg-3, body .col-lg-4, body .col-lg-6, body .col-lg-8, body .card { width: 100%; }
    body .btn-dark, body .btn-adopt, body .btn-primary { width: 100%; font-size: 14px; }
    body .info-box { padding: 16px; }
    body .pet-img { max-width: 100%; height: auto; }
    body footer { font-size: 12px; text-align: center; }
}